* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
}
body {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

/* Sidebar styles */
.sidebar {
    border-right: 1px solid var(--twitter-background);
    flex: 0.2;
    min-width: 265px;
    margin-top: 5px;
    margin-left: 40px;
    padding: 0 30px;
    z-index: 100;
    position: relative;
    overflow-y: hidden;
}
.fa-twitter {
    color: var(--twitter-color);
    font-size: 25px;
}
.sidebar-items {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sidebar-items .material-icons, .fa-twitter {
    padding: 17px;
}
.sidebar-items h2 {
    font-weight: 800;
    font-size: 17px;
    margin: 15px;
}
.sidebar-items:hover {
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}
.sidebar-items.active {
    color: var(--twitter-color);
}
.sidebar_tweet {
    width: 100%;
    background-color: var(--twitter-color);
    border: none;
    color: white;
    border-radius: 30px;
    font-weight: 900;
    height: 50px;
    margin-top: 20px;
}
.profile_button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--twitter-background);
    border: none;
    color: black;
    border-radius: 30px;
    font-weight: 900;
    height: 50px;
    margin-top: 20px;
}
.profile_button i {
    display: flex;
    align-items: center;
}

/* Feed styles */
.main-container {
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
    position: relative;
}
.main-container::-webkit-scrollbar {
    display: none;
}
.main-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.feed_header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 10px 20px;
}
.feed_header h2 {
    font-size: 20px;
    font-weight: 800;
}
.feed_header {
    display: flex;
    justify-content: space-between;
}
.feed_header i:hover {
    color: var(--twitter-color);
    cursor: pointer;
}

/* Tweetbox styles */
.tweetbox {
    padding-bottom: 10px;
    padding-right: 10px;
    border-bottom: 8px solid var(--twitter-background);
}
.tweetbox_input {
    display: flex;
    padding: 20px;
}
.tweetbox_input img {
    border-radius: 50%;
    height: 50px;
}
.tweetbox_input input {
    flex: 1;
    margin-left: 10px;
    font-size: 20px;
    border: none;
    outline: none;
}
.tweetbox form {
    display: flex;
    flex-direction: column;
}
.tweetbox_container {
    display: flex;
    align-items: center;
}
.tweetbox_button {
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
}
.tweetbox_icons {
    height: 40px;
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 20px;
}
.tweetbox_icons:hover {
    cursor: pointer;
    color: var(--twitter-color);
}

/* Post section styles */
.post_section {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
    margin-top: 8px;
}
.post_img {
    padding: 0 10px 20px 20px;
}
.post_img img {
    border-radius: 50%;
    height: 50px;
}
.post_body {
    flex: 1;
    padding: 2px;
}
.post_body img {
    width: 450px;
    object-fit: contain;
    border-radius: 20px;
}
.post_body i {
    margin-left: 210px;
}
.post_header_text h3 {
    font-size: 17px;
    margin-bottom: 5px;
}
.post_header_details {
    font-size: 14px;
    font-weight: 600;
    color: gray;
}
.post_header_details i {
    margin-right: 20px;
}
.post_description {
    font-size: 17px;
    margin-bottom: 10px;
}
.post_badge {
    font-size: 14px !important;
    color: var(--twitter-color);
    margin-right: 5px;
}
.post_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    width: 450px;
    color: gray;
}
.active_lightblue:hover {
    color: #50b7f5;
    cursor: pointer;
    transition: color 100ms ease-out;
}
.active_green:hover {
    color: rgb(13, 216, 13);
    cursor: pointer;
    transition: color 100ms ease-out;
}
.active_red:hover {
    color: rgb(236, 48, 48);
    cursor: pointer;
    transition: color 100ms ease-out;
}
.active_blue:hover {
    color: rgb(63, 63, 230);
    cursor: pointer;
    transition: color 100ms ease-out;
}

/* Trends style */
.trends_container {
    flex: 0.3;
    margin: 15px 0 0 20px;
    padding: 15px;
    background-color: var(--twitter-background);
    border-radius: 20px;
}
.trends_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 10px 10px 0;
}
.trends_heading h2 {
    font-size: 18px;
    font-weight: 800;
}
.trends_heading .trends_setting {
    font-size: 19px;
}
.trends_cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.trends_cards h3 {
    font-size: 12px;
    color: gray;
}
.trends_cards h2 {
    font-size: 15px;
    font-weight: 700;
    /* color: white; */
}
#show_more {
    color: var(--twitter-color);
    font-size: 15px;
    padding-top: 20px;
}

/* Who to Follow styles */
.follow_container {
    flex: 0.3;
    margin: 15px 0 0 20px;
    padding: 15px;
    background-color: var(--twitter-background);
    border-radius: 20px;
}
.follow_header h2 {
    font-size: 18px;
    font-weight: 800;
}

/* Footer styles */
.footer_container {
    padding: 25px 0 0 25px;
    margin-top: 60px;
}
.footer_container span {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
    margin-right: 5px;
    color: #606060;
    cursor: pointer;
    /* background-color: var(--twitter-background);
    border-radius: 10px; */
}
/* Widgets styles */
.widgets_container {
    flex: 0.3;
    overflow-y: hidden;
}
.widgets_input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}
.widgets_input input {
    border: none;
    background-color: var(--twitter-background);
    outline: none;
}
.widgets_search {
    color: gray;
}
.widgets_embed {
    margin: 15px 0 0 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
}
.widgets_embed h2 {
    font-size: 18px;
    font-weight: 800;
}